body{
                font-family: 'Courier New', Courier, monospace;
                background-color: aliceblue;
                margin:0;
                padding: 0;
            }
            header{
                background-color: rgb(41, 59, 93);
                color: aliceblue;
                text-align: center;
                padding: 20px;
            }
            header h1{
                margin:0;
            }
            .search-bar{
                text-align: center;
                margin: 20px;
            }
            .search-bar input{
                padding: 8px;
                width: 300px;
                border:2px solid #e1d9d9;
            }
            table{
                width: 80%;
                margin:19px auto;
                border-collapse: collapse;
            }
            table th,table td{
                border:1px solid #e1d9d9;
                text-align: center;
            }
            table th{
                background-color: rgb(67, 66, 66);
                color:rgb(205, 201, 201);
            }
            .books-image{
                display:flex;
                justify-content: center;
                gap: 15px;
                margin:25px 0;
            }
            .books-image img{
                width: 140px;
                height:210px;
                object-fit: cover;
                border-radius: 7px;
            }
            tr:nth-child(odd){
                background-color: lightblue;
            }