*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background:linear-gradient( #98c4e2, #bbdefb);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    max-width: 600px;
    text-align: center;
}
h1 {
    color: #152c40;
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 3px solid #ff9800;
    display: inline-block;
    padding-bottom: 5px;
}
.id {
    background-color: #fff9c4;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 12px 0;
    display: block;
}
#des {
    color: #d32f2f;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    margin: 15px 0;
}
